/* navbar */

.navbar {
  margin-bottom: 0;
}

.title-center {
  background: var(--gray-1);
  padding: 2rem;
  height: auto;
}

.title-center h3 {
  margin: 0 0;
}

.title-section::after {
  content: "";
  display: block;
  height: 0.5rem;
  width: 100%;
  background: var(--primary-6);
}

/* hero */

.academics-hero {
  height: auto;
}

.academics-hero-about h4 {
  text-transform: capitalize;
}

.academics-hero-about p {
  letter-spacing: 1px;
  text-indent: 2rem;
  margin-bottom: 3rem;
}

.academics-hero-programs {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.academics-hero-program {
  border-bottom: 2px solid var(--primary-6);
}

.academics-hero-program:first-child {
  border-top: 2px solid var(--primary-6);
}

.academics-hero-program:nth-of-type(even) {
  border-right: 2px solid var(--primary-6);
}

.academics-hero-program:nth-of-type(odd) {
  border-left: 2px solid var(--primary-6);
}

.academics-hero-program-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.academics-hero-program-header i {
  margin-right: 0.25rem;
}

.academics-hero-program :is(h5, h6) {
  margin: 2rem 2rem 0 2rem;
  text-transform: capitalize;
}

.academics-hero-program h6 {
  color: var(--gray-3);
  font-size: 1.1rem;
  text-transform: uppercase;
}

.academics-hero-program-content {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 60% 1fr;
  align-items: center;
  margin-bottom: 0.5rem;
}

.academics-hero-program-content p {
  padding-left: 1rem;
  letter-spacing: 1px;
  margin-left: 3rem;
}

.academics-hero-program-img {
  display: flex;
  justify-content: center;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  margin-right: 1rem;
}

.academics-hero-program-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.academics-hero-program-footer {
  display: grid;
  gap: 1rem;
  grid-template-columns: 60% 1fr;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.academics-hero-program-footer a {
  display: block;
}

.academics-hero-program-stats {
  justify-self: flex-start;
  margin-left: 1rem;
}

.academics-hero-program-stats,
.academics-hero-program-footer :is(.learn-more-btn, a) {
  text-transform: uppercase;
  color: var(--primary-6);
}

.learn-more-btn {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.375rem 3rem;
}

@media screen and (max-width: 560px) {
  .academics-hero-program-content {
    grid-template-columns: 1fr;
    grid-template-rows: 60% 1fr;
  }

  .academics-hero-program-content p {
    padding-left: 0;
    letter-spacing: 1px;
    margin-left: 1rem;
  }

  .academics-hero-program-img {
    margin: 1rem;
    margin-top: -2.5rem;
  }

  .academics-hero-program-footer {
    grid-template-columns: 40% 1fr;
    margin-bottom: 1.5rem;
  }
}
